/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

    Created on : 1/04/2019, 10:41:47 AM
    Author     : Areli Pérez Calixto (PRR1TL)
    Description: Estilo general para todas los jidokas, top 5, paretos, etc...
*/

@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

/*RESET DE VALORES PARA LOS DISTINTOS NAVEGADORES*/
* { 
    margin: 0;
    pading: 0;
}

balise {
    margin: 15px; /* Para otros navegadores */
    *margin: 20px; /* Para IE6 y IE7 */
    _margin: 20px; /* Para IE6 */
}

body {
    font-family: "Archivo Narrow";
    font-size: 19px;
}

.amcharts-chart-div a {
    display:none !important;
}

.tituloPortal {
    color: white;
    text-align: center; 
    position: fixed; 
    top: -15px; 
    left: 0; 
    right: 50%; 
    width: 100%
}

.btn-login {
    color: white;
    text-align: right; 
    position: fixed; 
    top: -1px; 
    margin-left: 36%;
    width: 10%
}

.btn-login:hover { 
    color:  #f39c12;
}

.btn-logOut {
    color: white;
    text-align: right; 
    position: fixed; 
    top: -1px; 
    margin-left: 8%;
    width: 40%
}

.btn-logOut:hover { 
    color:  #f39c12;
}

#headerFixed {
    font-size: 40px;
    margin: -2% 0%;
    background: #08088A;
    color: white;
    height: 9%;	
    width: 100%;
    position: fixed;
    min-height: 10px;
    max-height: 120px;
    z-index: 1001;
} 

#pnlHoja {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: white;
    margin: 0% 0% auto;
    box-shadow: 0 0 80px rgba(0,0,0,2);
    justify-content: center;
}

.contenedor {
    display:flex;
}

.contenedor > div {
    flex:1;
    display:flex;
}

.fila0 { 
    float: left; 
    background: #008C5B; 
}

.fila1 { 
    float: left; 
    background: #02538B; 
}

.btnAdd {
    margin-left: 92%;
    margin-top: 9px;
}

head { 
    align-content: center; 
    text-align: center; 
} 

#menuPrincipal { 
    margin-top: 4%; 
    width: 100%; 
    height: 84%; 
} 

#menuPrincipalReportes { 
    margin-top: -3%; 
    width: 100%; 
    height: 84%; 
} 

/* PROPIEDADES PRA LOS PANEL DE OPL */
.no {
    display:none;
}
.si {
    display:block;
}

/* ESTILO PARA MODAL */
.modal-lg { 
    max-width: 94% !important; 
} 

.contenidoCentrado {
    justify-content: center;
    align-content: center;
    text-align: center;
}


