/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/04/2019, 10:59:03 PM
    Author     : PRR1TL
*/


@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

/*RESET DE VALORES PARA LOS DISTINTOS NAVEGADORES*/
* { 
    margin: 0;
    pading: 0;
}

balise {
    margin: 15px; /* Para otros navegadores */
    *margin: 20px; /* Para IE6 y IE7 */
    _margin: 20px; /* Para IE6 */
}

body {
  font-family: "Archivo Narrow";
  font-size: 19px;
}

.amcharts-chart-div a {
    display:none !important;
}

#headerFixed {
    font-size: 40px;
    margin: -2% 0%;
    background: #08088A;
    color: white;
    height: 9vh;	
    width: 100%;
    position: fixed;
    z-index: 1001;
} 

#pnlHoja {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: white;
    margin: 0% 0% auto;
    box-shadow: 0 0 80px rgba(0,0,0,2);
    justify-content: center;
}

.tituloPortal {
    color: white;
    text-align: center; 
    position: fixed; 
    top: -15px; 
    left: 0; 
    right: 50%; 
    width: 100%
}

.contenedor {
    display:flex;
}

.contenedor > div {
    flex:1;
    display:flex;
}

.fila0 { 
    float: left; 
    background: #008C5B; 
}

.fila1 { 
    float: left; 
    background: #02538B; 
}

.icono-centro {
    margin-top: -3px;
    margin-left: -7px;
}

.btn-login {
    color: white;
    text-align: right; 
    position: fixed; 
    top: -1px; 
    margin-left: 36%;
    width: 10%
}

.btn-login:hover { 
    color:  #f39c12;
}

.btn-logOut {
    color: white;
    text-align: right; 
    position: fixed; 
    top: -1px; 
    margin-left: 8%;
    width: 40%
}

.btn-logOut:hover { 
    color:  #f39c12;
}

.btnAdd {
    margin-left: 92%;
    margin-top: 9px;
}

head {
    align-content: center;
    text-align: center;
}

#menuPrincipal {
    margin-top: 4%;
    width: 100%;
    height: 84%;
}

#menuPrincipalReportes {
    margin-top: -3%;
    width: 100%;
    height: 84%;
}

/* CONFIGURACION DE NAV PARA CHAMPIONS SOLO PARA TAMAÑOS*/
#navC {
    display: flex;
    position: fixed;
    background: url("img/gradient.png") repeat-x scroll 0 -110px #FFFFFF transparent;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    line-height: 100%;
    padding: 7px 6px 0;
    margin: 1% 30%;
    z-index: 1001;
    width: 680px;
    /*width: 53%;*/
}

#navC li {
    float: left;
    list-style: none outside none;
    margin: 0 5px;
    padding: 0 0 8px;
    position: relative;
}

#navC a {
    border-radius: 1.6em 1.6em 1.6em 1.6em;
    color: #000000;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#navC a:hover {
    background: none repeat scroll 0 0 #000000;
    /*color: #FFFFFF;*/
    color: #CCEFFF;
}

#navC .current a, #navC li:hover > a {
    background: #BEEB9F;
    /*background: #CCEFFF;*/
    border-top: 1px solid #BEEB9F;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #444444;
    text-shadow: 0 1px 0 #FFFFFF;
}

#navC ul li:hover a, #navC li:hover li a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    color: #666666;
}

#navC ul a:hover {
    background: url("img/gradient.png") repeat-x scroll 0 -100px #50A361 !important;
    border-radius: 0 0 0 0;
    color: #FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#navC li:hover > ul {
    display: block;
}

#navC ul {
    background: url("img/gradient.png") repeat-x scroll 0 0 #FFFFFF transparent;
    border: 1px solid #B4B4B4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    width: 100%;
}

#navC ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#navC ul a {
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}

#navC ul ul {
    left: 181px;
    top: -3px;
}

#navC ul li:first-child > a {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#navC ul li:last-child > a {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#navC:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#navC {
    display: inline-block;
}

#navA {
    display: flex;
    position: fixed;
    background: url("img/gradient.png") repeat-x scroll 0 -110px #FFFFFF transparent;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    line-height: 100%;
    padding: 7px 6px 0;
    margin: 1% 24%;
    z-index: 1001;
    width: 760px;
    /*width: 53%;*/
}

#navA li {
    float: left;
    list-style: none outside none;
    margin: 0 5px;
    padding: 0 0 8px;
    position: relative;
}

#navA a {
    border-radius: 1.6em 1.6em 1.6em 1.6em;
    color: #000000;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#navA a:hover {
    background: none repeat scroll 0 0 #000000;
    /*color: #FFFFFF;*/
    color: #CCEFFF;
}

#navA .current a, #navA li:hover > a {
    background: #BEEB9F;
    /*background: #CCEFFF;*/
    border-top: 1px solid #BEEB9F;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #444444;
    text-shadow: 0 1px 0 #FFFFFF;
}

#navA ul li:hover a, #navA li:hover li a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    color: #666666;
}

#navA ul a:hover {
    background: url("img/gradient.png") repeat-x scroll 0 -100px #50A361 !important;
    border-radius: 0 0 0 0;
    color: #FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#navA li:hover > ul {
    display: block;
}

#navA ul {
    background: url("img/gradient.png") repeat-x scroll 0 0 #FFFFFF transparent;
    border: 1px solid #B4B4B4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    width: 100%;
}

#navA ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#navA ul a {
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}

#navA ul ul {
    left: 181px;
    top: -10px;
}

#navA ul li:first-child > a {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#navA ul li:last-child > a {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#navA:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#navA {
    display: inline-block;
}

.menuModulo{
    border: 1px solid #FFF;
    margin-top: -10px;
}

.tblHxs-00 {
    width: 3.5%;
    float: left;
}

.tblHxsty-00 {
    width: 4.0%;
    float: left;
}

.tblHxsty-0 {
    width: 4.3%;
    float: left;
}

.tblHxsty {
    width: 5.0%;
    float: left;
}

.tblHxs-0 {
    width: 7.5%;
    float: left;
}

.tblHxs {
    width: 10%;
    float: left;
}

.tblHs-0 {
    width: 13%;
    float: left;
}

.tblHs {
    width: 20%;
    float: left;
}

.tblHm-00 {
    width: 22.5%;
    float: left;
}

.tblHm-0 {
    width: 25%;
    float: left;
}

.tblHm {
    width: 30%;
    float: left;
}

.tblHl {
    width: 40%;
    float: left;
}

.tblHxl {
    width: 60%;
    float: left;
}

.tblBx {
    width: 5%;
    float: left;
}

.tblBxs-00 {
    width: 3.5%;
    float: left;
}

.tblBxsty-00 {
    width: 4.0%;
    float: left;
}

.tblBxsty-0 {
    width: 4.3%;
    float: left;
}

.tblBxsty {
    width: 5.0%;
    float: left;
}

.tblBxs-0 {
    width: 7.5%;
    float: left;
}

.tblBxs {
    width: 10%;
    float: left;
}

.tblBs-0 {
    width: 12.8%;
    float: left;
}

.tblBs {
    width: 20%;
    float: left;
}

.tblBm-00 {
    width: 22.48%;
    float: left;
}

.tblBm-0 {
    width: 25%;
    float: left;
}

.tblBm {
    width: 30%;
    float: left;
}

.tblBl {
    width: 40%;
    float: left;
}

.tblBxl {
    width: 60%;
    float: left;
}

.tblHAdmin {
    width: 24.9%;
    float: left;
}

.tblBAdmin {
    width: 24.9%;
    float: left;
}

.modal-lg { 
    max-width: 94% !important; 
} 

/* PROPIEDADES PRA LOS PANEL DE OPL */
.no {
    display:none;
}
.si {
    display:block;
}

/* ESTILOS PARA LA TABLA */
.tbl {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
}

.headt, .bodyt, .trt, .tdt, tht { display: block; }

.trt:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.headt .tht { 
    height: 30px;
    line-height: 30px;
}

.bodyt {
    height: 180px;
    overflow-y: auto;
    width: 100%;
}

.headt {
    width: 99%;
    background: #ccd1d1;
}

.bodyt { border-top: 2px solid black; }

.headt .tht, .bodyt .tdt {
    float: left;
    border-right: 1px solid black;
}

.tbl .tht {
    text-align: center;
}

.tbl .trt {
    text-align: center;
}



