/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/01/2019, 12:35:25 PM
    Author     : Areli Pérez Calixto (PRR1TL)
    Description: Estilo general para todas los jidokas, top 5, paretos, etc...
*/

@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

body {
    font-family: "Archivo Narrow";
    font-size: 19px;
}

.amcharts-chart-div a {
    display:none !important;
}

.tituloPortal {
    color: white;
    text-align: center; 
    position: fixed; 
    top: -1px; 
    left: 0; 
    right: 50%; 
    width: 100%;
}

.btn-login {
    color: white;
    text-align: right; 
    position: fixed; 
    top: -1px; 
    margin-left: 40%;
    width: 10%
}

.btn-login:hover { 
    color:  #f39c12;
}


#headerFixed {
    font-size: 40px;
    margin: 0% 0%;
    background: #08088A;
    color: white;
    height: 6vh;	
    width: 100%;
    position: fixed;
    z-index: 1001;
} 

#pnlHoja {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: white;
    margin: 0% 0% auto;
    box-shadow: 0 0 80px rgba(0,0,0,2);
    justify-content: center;
}	

.contenedor {
    display:flex;
}

.contenedor > div {
    flex:1;
    display:flex;
}

.fila0 { 
    float: left; 
    background: #008C5B; 
}

.fila1 { 
    justify-content: center; 
    align-content: center; 
    text-align: center; 
    float: left; 
    background: #02538B; 
}

.icono-centro {
    margin-top: -3px;
    margin-left: -7px;
}

head {
    align-content: center;
    text-align: center;
}

#menuPrincipal {
    margin-top: 7%;
    width: 100%;
    height: 86%;
}

.pnlOpcion {
    border: 1px solid #000000;
    width: 35%;
    float: left;
}

.col {    
    width: 50%;
}

.contenidoCentrado {
    justify-content: center;
    align-content: center;
    text-align: center;
}

/*CONFIGURACION PARA LAS DIVICIONES DE LOS APARTADOS DEL MUENU PRINCIPAL*/
#wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    margin-left: 2%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#wrap div {
    float: left;
    width: 32%;
}

#wrap div:last-child {
    min-width: 200px;
}

li{
    list-style: none;
}

/*BOTONES DE INICIO SE SESION*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffffff;
}


