/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2019, 12:21:04 PM
    Author     : PRR1TL
*/
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

body {
  font-family: "Archivo Narrow";
  font-size: 19px;
}

.amcharts-chart-div a {
    display:none !important;
}

.tableContenido{
    width: 225px;
}

.jidokaDay {
    height: 60vh; 
    width: 98%; 
    float: left;  
    margin: 0% 0%;
}

.pnlOpcion{
    margin-left: 1%;
}

.pnlPickers{
    margin-top: 35%;
    margin-left: 3%;
}

.pickers {    
    width: 110px; 
    height: 20px;
}

.btnRegresar {
    float: right; 
    position: absolute; 
    top: 1.5vh; 
    left: 160px;
    width: 5.6%
}

.btnTop3 {
    float: right;
    position: absolute; 
    top: 1.5vh; 
    left: 93%;
    width: 5.6%
}

.tituloPortal {
    color: white;
    text-align: center; 
    position: fixed; 
    top: -1px; 
    left: 0; 
    right: 50%; 
    width: 100%
}

#headerFixed {
    font-size: 40px;
    margin: 0% 0%;
    background: #08088A;
    color: white;
    height: 6vh;	
    width: 100%;
    position: fixed;
    z-index: 1001;
} 

#pnlHoja {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: white;
    margin: 0% 0% auto;
    box-shadow: 0 0 80px rgba(0,0,0,2);
    justify-content: center;
}

#pnlGraficas {
    margin-top: -3vh ;
}

#pnlTabla {
    width: 98%;
    height: 130%;
    /*max-height: calc(580vh - 190px);*/
    margin: 2% 4%;
}

#titleGraf {
    float: left;
    text-decoration: none;
}	

.contenedor {
    display:flex;
}

.contenedor > div {
    flex:1;
    display:flex;
}

.fila0 { 
    float: left; 
    background: #008C5B; 
}

.fila1 { 
    float: left; 
    background: #02538B; 
}

.leyendaBoton {
    font-size: 10px;
}

.icono-centro {
    margin-top: -3px;
    margin-left: -7px;
}

head {
    align-content: center;
    text-align: center;
}

/*CONFIGURACION PARA LOS BOTONES DEL MENU*/
#nav {
    display: flex;
    position: fixed;
    background: url("img/gradient.png") repeat-x scroll 0 -110px #FFFFFF transparent;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    line-height: 100%;
    padding: 7px 6px 0;
    margin: 2% 10%;
    z-index: 1001;
    width: 85%;
}

#nav li {
    float: left;
    list-style: none outside none;
    margin: 0 5px;
    padding: 0 0 8px;
    position: relative;
}

#nav a {
    border-radius: 1.6em 1.6em 1.6em 1.6em;
    color: #000000;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#nav a:hover {
    background: none repeat scroll 0 0 #000000;
    color: #CCEFFF;
}

#nav .current a, #nav li:hover > a {
    background: #BEEB9F;
    border-top: 1px solid #BEEB9F;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #444444;
    text-shadow: 0 1px 0 #FFFFFF;
}

#nav ul li:hover a, #nav li:hover li a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    color: #666666;
}

#nav ul a:hover {
    background: url("img/gradient.png") repeat-x scroll 0 -100px #50A361 !important;
    border-radius: 0 0 0 0;
    color: #FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#nav li:hover > ul {
    display: block;
}

#nav ul {
    background: url("img/gradient.png") repeat-x scroll 0 0 #FFFFFF transparent;
    border: 1px solid #B4B4B4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    width: 100%;
}

#nav ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#nav ul a {
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}

#nav ul ul {
    left: 181px;
    top: -3px;
}

#nav ul li:first-child > a {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#nav ul li:last-child > a {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#nav:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#nav {
    display: inline-block;
}

#menuPrincipal {
    margin-top: 7%;
    width: 100%;
    height: 100%;
}

.pnlOpcion {
    border: 1px solid #000000;
    width: 35%;
    float: left;
}

.col {    
    
    width: 50%;
}

/*CONFIGURACION PARA LAS DIVICIONES DE LOS APARTADOS DEL MUENU PRINCIPAL*/
#wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  margin-left: 2%;
}

#wrap div {
  float: left;
  width: 32%;
  border: 1px solid #000000;
}

#wrap div:last-child {
  min-width: 200px;
  background-color: #f99;
}

